<%= form_for(@book, :method => 'delete') do |f|  %>
  <p>Are you sure you want to permantly delete this book?</p>
  <p>
    <strong>Title:</strong>
    <%= @book.title%>
  </p>
  <p>
    <strong>Auhtor:</strong>
    <%= @book.author%>
  </p>
  <p>
    <strong>Price</strong>
    <%= number_to_currency(@book.price)%>
  </p>
  <p>
    <strong>Published Date</strong>
    <%= @book.published_date %>
  </p>

  <div class= 'actions'>
    <%= f.submit("Delete Book") %>
  </div>
<% end %>
