<p id="notice"><%= notice %></p>

<h1>My Book Collection</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th></th>
      <th>Author</th>
      <th></th>
      <th>Price</th>
      <th></th>
      <th>Published-Date</th>
      <th></th>
      <th colspan="3">Options</th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td></td>
        <td><%= book.author %></td>
        <td></td>
        <td><%= number_to_currency(book.price) %></td> 
        <td></td>
        <td><%= book.published_date %></td>
        <td></td>
        <td><%= link_to 'Show', book %></td>
        <td><%= link_to 'Edit', edit_book_path(book) %></td>
        <td><%= link_to 'Delete', delete_book_path(book) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book', new_book_path %>

<!--To make the price from the database into the format of currency-->
<!-- https://stackoverflow.com/questions/15900537/to-d-to-always-return-2-decimals-places-in-ruby-->